.hero, .hero--ClasesRegulares, .hero--Viajes, .hero--ClasesEspeciales, .hero--Contacto, .hero--Inscripcion {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px; }

.hero {
  background-image: url(/imgs/home.jpg); }
  .hero--ClasesRegulares {
    background-image: url(/imgs/clases-especiales.jpg); }
  .hero--Viajes {
    background-image: url(/imgs/viajes.jpg); }
  .hero--ClasesEspeciales {
    background-image: url(/imgs/clases-online.jpg); }
  .hero--Contacto {
    background-image: url(/imgs/contact.jpg); }
  .hero--Inscripcion {
    background-image: url(/imgs/welcome.jpg); }

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif; }
  * a {
    text-decoration: none; }

header {
  background-color: #022873;
  position: fixed;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between; }
  header li {
    list-style: none;
    font-weight: 100;
    padding: 40px 20px 20px 20px;
    display: inline-block; }
    header li a {
      text-decoration: none;
      color: #f2f2f2; }
      header li a:hover {
        text-decoration: none;
        color: #bf1534; }

#logo {
  font-size: 2rem;
  font-weight: bold;
  color: #bf1534;
  margin: 25px; }

footer {
  background-color: #bf1534;
  line-height: 150%;
  font-size: 15px;
  padding: 5vh;
  display: grid;
  grid-template-areas: "menu rs" "logo fp";
  grid-template-columns: 50vw 40vw;
  grid-template-rows: auto; }
  footer .menuFooter {
    font-size: 13px;
    grid-area: menu; }
    footer .menuFooter li {
      list-style: none;
      padding: 10px;
      display: inline-block; }
    footer .menuFooter a {
      text-decoration: none;
      color: #f2f2f2; }
    footer .menuFooterhover {
      color: #022873; }
  footer .footerPrincipal {
    grid-area: fp;
    text-align: end; }
  footer .logoFooter {
    grid-area: logo;
    color: #022873;
    font-size: 40px;
    font-weight: 800;
    margin: 25px 0px 15px 40px; }
  footer .rrssFooter {
    grid-area: rs;
    text-align: end; }
